@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background-color: #141414;
  color: #FFFFFF;
  font-family: 'Silkscreen', cursive;
  margin: 0;
}

div {
  position: absolute;
  background-color: #FFFFFF;
}

#startMenu {
  top: 22%;
  left: 36%;
  text-align: center;
  background-color: #141414;
}

#gameOver {
  visibility: hidden;
  background-color: #141414;
  top: 32%;
  left: 41%;
  text-align: center;
}

#startMenu h1 {
  font-size: 2.5em;
}

#scoreDisplay {
  position: absolute;
  top: 90%;
}
