@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background-color: #141414;
  color: #FFFFFF;
  font-family: 'Silkscreen', cursive;
  margin: 0;
}

div {
  position: absolute;
  background-color: #FFFFFF;
}

#menu {
  position: static;
  margin-top: 15%;
  text-align: center;
  background-color: #141414;
}

#title {
  font-size: 4vw;
}

#content {
  font-size: 1.3vw;
}

#scoreDisplay {
  position: absolute;
  font-size:2vw;
  top: 90%;
}
